

@model List<Loja01.Models.ClientViewModel>
@{

}
<div class="text-center">
    <h1 class="display-4">Clients</h1>
    <p>This page will show clients information.</p>

    @foreach (var client in Model)
    {
        <p>
            Name: @client.Name - Email: @client.Email - Phone: @client.Phone
        </p>
    }


</div>